@mixin easeOut {
    transition: all 500ms ease-out;
}

@mixin background {
    @if $show-home-image {
        &#bg-img {
            background-image: $home-image;
            background-attachment: fixed;
            background-size: cover;
        }
        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            background-color: rgba($primary-color, $background-opacity);
        }
    }
}

// Media Query Mixins
@mixin mediaSmall {
    @media screen and (max-width: 500px) {
        @content;
    }
}

@mixin mediaMedium {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin mediaLarge {
    @media screen and (min-width: 769px) and (max-width: 1170px) {
        @content;
    }
}

@mixin mediaXLarge {
    @media screen and (min-width: 1171px) {
        @content;
    }
}