// Widescreens
@include mediaXLarge {
    .projects {
        grid-template-columns: repeat(4, 1fr);
    }
}

// Desktops & Laptops
@include mediaLarge {
    .projects {
        grid-template-columns: repeat(3, 1fr);
    }
}

// Tablets & Small Laptops
@include mediaMedium {
    h1 {
        &.lg-heading {
            line-height: 1;
            margin-bottom: 2rem;
            font-size: 3.4rem;
        }
    }
    main#home {
        align-items: center;
        text-align: center;
    }
    ul.menu-nav,
    div.menu-branding {
        width: 100%;
        min-height: 0;
        &.show {
            transform: translate3d(0, 0, 0);
        }
    }
    .menu-nav {
        height: 75vh;
        transform: translate3d(-100%, 0, 0);
        font-size: 24px;
    }
    .menu-branding {
        height: 25vh;
        transform: translate3d(100%, 0, 0);
        .portrait {
            background: url('../img/portrait_small.jpg');
            width: 150px;
            height: 150px;
        }
    }
    main#about {
        .about-info {
            grid-template-areas: "bioimage" 'bio' 'education1' 'education2' 'education3';
            grid-template-columns: 1fr;
            text-align: center;
        }
    }
    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
    .boxes {
        div {
            font-size: 1.3rem;
            text-align: center;
            padding: 1.2rem 1rem;
        }
    }
}

// Smartphones
@include mediaSmall {
    main {
        padding: 2rem;
        h1.lg-heading {
            font-size: 2.9rem;
        }
        .projects {
            grid-template-columns: 1fr;
        }
        h2.sm-heading {
            font-size: 1.2rem;
            text-align: center;
        }
        .boxes {
            div {
                padding: .5rem .9rem;
                font-size: 1rem;
                text-align: center;
            }
        }
    }
}