@import 'config';
@import 'menu';
* {
    box-sizing: border-box;
}

body {
    @include background;
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

//headings
h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;
    &.lg-heading {
        font-size: 4rem;
    }
    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color, 2), 0.5);
    }
}

a {
    color: #fff;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color: $secondary-color;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;
    min-height: calc(100vh - 60px);
    .icons {
        margin-top: 1rem;
        a {
            padding: 0.4rem;
            &:hover {
                color: $secondary-color;
                @include easeOut;
            }
        }
    }
    &#home {
        overflow: hidden;
    }
    &.back {
        opacity: 0.3;
    }
}

main#about {
    .about-info {
        display: grid;
        grid-template-areas: "bioimage bio bio" "job1 job2 job3";
        grid-gap: 30px;
        grid-template-columns: repeat(3, 1fr);
        text-align: justify;
        .bio-image {
            grid-area: bioimage;
            margin: auto;
            border: 3px solid $secondary-color;
            border-radius: 50%;
        }
        .bio {
            grid-area: bio;
            font-size: 1.3rem;
        }
        .job-1 {
            grid-area: job1;
        }
        .job-2 {
            grid-area: job2;
        }
        .job-3 {
            grid-area: job3;
        }
        .job {
            background: lighten($primary-color, 5);
            padding: 0.5rem;
            border-bottom: $secondary-color 5px solid;
            text-align: center;
        }
    }
}

//work/projects
.projects {
    display: grid;
    grid-gap: .7rem;
    grid-template-columns: repeat(3, 1fr);
    img {
        width: 100%;
        border: 2px #fff solid;
        border-radius: 2px;
        &:hover {
            opacity: .5;
            border-color: $secondary-color;
            @include easeOut;
        }
    }
}

// Button Style
.btn {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    border-radius: 5px;
    &:hover {
        background: $secondary-color;
        color: set-text-color($secondary-color);
        @include easeOut;
    }
    i {
        display: inline-block;
        margin-right: 0.6rem;
    }
}

.btn-dark {
    @extend .btn;
    background-color: darken($primary-color, 50);
    color: #fff;
}

.btn-light {
    @extend .btn;
    background-color: lighten($primary-color, 50);
    color: #444;
}

//contact page
.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
    div {
        font-size: 1.5rem;
        border: 3px solid #fff;
        padding: 1.5rem 2.5rem;
        margin-bottom: 3rem;
        @include easeOut;
        &:hover {
            padding: .5rem 1.5rem;
            background: $secondary-color;
            color: set-text-color($secondary-color);
            span {
                color: #fff;
            }
        }
    }
}

#main-footer {
    height: auto;
    min-height: 60px;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    background: darken($primary-color, 20);
    color: set-text-color($primary-color);
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-row-gap: 5px;
    &>p {
        margin: 0;
        padding: 0;
    }
}

@import 'mobile';