    // Widescreens
    @include mediaXLarge {
        .projects {
            grid-template-columns: repeat(4, 1fr);
        }
    }
    
    // Desktops & Laptops
    @include mediaLarge {
        .projects {
            grid-template-columns: repeat(3, 1fr);
        }
        #contact {
            .contact-choice {
                flex-direction: column-reverse;
                align-items: center;
                .contact-info {
                    width: 100%;
                }
                #contact-form {
                    width: 100%;
                    margin-bottom: 1rem;
                    .input-collect {
                        // flex-direction: column;
                        .simple-input {
                            width: 100%;
                        }
                        #input-textarea {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    
    // Tablets & Small Laptops
    @include mediaMediumPortrait {
        h1 {
            &.lg-heading {
                line-height: 1;
                margin-bottom: 2rem;
                font-size: 3.4rem;
            }
        }
        main#home {
            align-items: center;
            text-align: center;
        }
        ul.menu-nav,
        div.menu-branding {
            width: 100%;
            min-height: 0;
            &.show {
                transform: translate3d(0, 0, 0);
            }
        }
        .menu-nav {
            height: 75vh;
            transform: translate3d(-100%, 0, 0);
            font-size: 24px;
        }
        .menu-branding {
            height: 25vh;
            transform: translate3d(100%, 0, 0);
            .portrait {
                width: 150px;
                height: 150px;
            }
        }
        main#about {
            .about-info {
                grid-template-areas: "bioimage" 'bio' 'education1' 'education2' 'education3';
                grid-template-columns: 1fr;
                text-align: center;
            }
        }
        .projects {
            grid-template-columns: repeat(2, 1fr);
        }
        #contact {
            .contact-choice {
                flex-direction: column-reverse;
                align-items: center;
                .contact-info {
                    width: 100%;
                }
                #contact-form {
                    width: 100%;
                    margin-bottom: 1rem;
                    .input-collect {
                        // flex-direction: column;
                        .simple-input {
                            width: 100%;
                        }
                        #input-textarea {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    
    @include mediaMediumLandscape {
        main#about {
            .about-info {
                grid-template-areas: "bioimage" 'bio' 'education1' 'education2' 'education3';
                grid-template-columns: 1fr;
                text-align: center;
            }
        }
        #contact {
            .contact-choice {
                flex-direction: column-reverse;
                align-items: center;
                .contact-info {
                    width: 100%;
                }
                #contact-form {
                    width: 100%;
                    margin-bottom: 1rem;
                    .input-collect {
                        // flex-direction: column;
                        .simple-input {
                            width: 100%;
                        }
                        #input-textarea {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    
    // Smartphones
    @include mediaSmall {
        main {
            padding: 2rem;
            h1.lg-heading {
                font-size: 2.9rem;
            }
            .projects {
                grid-template-columns: 1fr;
            }
            h2.sm-heading {
                font-size: 1.2rem;
                text-align: center;
            }
        }
        #contact {
            .contact-choice {
                flex-direction: column-reverse;
                align-items: center;
                .contact-info {
                    width: 100%;
                }
                #contact-form {
                    width: 100%;
                    margin-bottom: 1.5rem;
                    .input-collect {
                        flex-direction: column;
                        .simple-input {
                            width: 100%;
                        }
                        #input-textarea {
                            width: 100%;
                        }
                        input {
                            width: 100% !important;
                        }
                    }
                }
            }
        }
    }