@import "config";
@import "menu";
* {
    box-sizing: border-box;
}

body {
    @include background;
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: $font-family;
    line-height: 1.5;
    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-thumb {
        background: scrollbar-color($primary-color);
    }
}

//headings
h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;
    &.lg-heading {
        font-size: 4rem;
    }
    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color, 2), 0.5);
    }
}

a {
    color: #fff;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color: $secondary-color;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;
    min-height: calc(100vh - 40px);
    .icons {
        margin-top: 1rem;
        a {
            padding: 0.4rem;
            &:hover {
                color: $secondary-color;
                @include easeOut;
            }
        }
    }
    &#home {
        overflow: hidden;
    }
    &.back {
        opacity: 0.3;
    }
}

main#about {
    .about-info {
        display: grid;
        grid-template-areas: "bioimage bio bio" "education1 education2 education3";
        grid-gap: 30px;
        grid-template-columns: repeat(3, 1fr);
        text-align: justify;
        .bio-image {
            grid-area: bioimage;
            margin: auto;
            border: 3px solid $secondary-color;
            border-radius: 50%;
        }
        .bio {
            grid-area: bio;
            font-size: 1.3rem;
        }
        .study-1 {
            grid-area: education1;
        }
        .study-2 {
            grid-area: education2;
            ul {
                padding-left: 20px;
                text-align: left;
                li {
                    padding: 0;
                    margin: 0;
                    span {
                        font-weight: bold;
                    }
                }
            }
        }
        .study-3 {
            grid-area: education3;
        }
        .studies {
            background: lighten($primary-color, 5);
            padding: 0.5rem;
            border-bottom: $secondary-color 5px solid;
            text-align: center;
            .subtitle {
                font-size: .85rem;
            }
        }
    }
}

//work/projects
.projects {
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(3, 1fr);
    img {
        width: 100%;
        height: 220px;
        border: 2px #fff solid;
        border-radius: 2px;
        @include easeOut;
        &:hover {
            opacity: 0.5;
            border-color: $secondary-color;
            @include easeOut;
        }
    }
}

// Button Style
.btn {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    border-radius: 5px;
    @include easeOut;
    &:hover {
        background: $secondary-color;
        color: set-text-color($secondary-color);
        @include easeOut;
    }
    i {
        display: inline-block;
        margin-right: 0.6rem;
    }
}

.btn-dark {
    @extend .btn;
    background-color: darken($primary-color, 50);
    color: #fff;
}

.btn-light {
    @extend .btn;
    background-color: lighten($primary-color, 50);
    color: #444;
}

//contact page
#contact {
    p.contact-intro {
        font-family: $font-family;
        font-size: 1.15rem;
    }
    .contact-choice {
        display: flex;
        // flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: baseline;
        margin-top: 1rem;
        // background-color: red;
        padding: 0;
        .contact-info {
            width: 40%;
            margin-left: 0;
            padding-left: 0;
            font-size: 1.1rem;
            @include easeOut;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: left;
            //margin-right: 5rem;
            div.contact-element {
                width: fit-content;
                padding: .5rem 0;
                margin: .5rem 0;
                font-weight: 350;
                @include easeOut;
                i {
                    @include easeOut;
                    font-size: 1.5rem;
                    margin: 0 .8rem;
                    &.fa-phone {
                        transform: rotate(90deg);
                    }
                }
                &:hover {
                    color: $secondary-color;
                    a {
                        color: $secondary-color;
                    }
                    i {
                        transform: rotate(360deg);
                        color: set-text-color($primary-color);
                        &.fa-phone {
                            transform: rotate(450deg);
                        }
                    }
                }
            }
        }
        #contact-form {
            display: block;
            width: 60%;
            height: 100%;
            margin: 0;
            padding: 0;
            // background-color: black;
            .input-collect {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                // flex-wrap: wrap;
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                .simple-input {
                    display: block;
                    width: 50%;
                    margin: 0;
                    padding: 0;
                    height: 100%;
                }
                .input-group {
                    position: relative;
                    height: 100%;
                    input {
                        display: block;
                        width: 95%;
                        height: 2.35rem;
                        outline: none;
                        padding: .5rem 0 .5rem 1rem;
                        cursor: text;
                        border: 1px #fff;
                        border-radius: 5px;
                        font-family: $font-family;
                        font-size: 1rem;
                    }
                    input:valid+#label {
                        font-size: .8rem;
                        top: -1.15rem;
                        left: 6px;
                        color: $secondary-color;
                    }
                    #message {
                        width: 100%;
                        outline: none;
                        height: 100%;
                        padding: .5rem .5rem .5rem 1rem;
                        border: 1px #fff;
                        border-radius: 5px;
                        font-family: $font-family;
                        font-size: 1rem;
                        line-height: 1.2rem;
                        &:valid+#label {
                            font-size: .7rem;
                            top: -0.95rem;
                            left: 6px;
                            color: $secondary-color;
                        }
                    }
                    #label {
                        position: absolute;
                        top: 5px;
                        left: 16px;
                        color: #4d4d4d;
                        @include easeOut;
                        cursor: text;
                        // font-family: $font-family;
                    }
                }
                #input-textarea {
                    display: block;
                    margin-left: 0;
                    padding: 0;
                    width: calc(100%/2);
                    height: 9rem;
                    cursor: pointer;
                }
            }
            #send {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                width: 100%;
                // background: blue;
                margin-top: .5rem;
                .recaptcha {
                    display: block;
                }
                .send-btn {
                    display: block;
                    margin-left: 2rem;
                    padding: .7rem 1rem;
                    background-color: $secondary-color;
                    color: #fff;
                    outline: none;
                    border: 2px $secondary-color;
                    border-radius: 10px;
                    @include easeOut;
                    cursor: pointer;
                    &:hover {
                        color: $secondary-color;
                        background: #fff;
                    }
                }
            }
        }
    }
}

#footer {
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: darken($primary-color, 20);
    color: set-text-color($primary-color);
}

@import "mobile";